body{
    background-color: rgb(29, 29, 29);
}
.card-footer{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
}
.logo{
    max-width: 1000px;
}
.card-height{
    height: 250px;
}
.scrollspy-example-2 {
    position: relative;
    height: 60vh;
    overflow: auto;
}

.map-img{
    min-width: 80vh;
    
}

.card-padding{
    padding-left: 25rem;
    padding-right: 25rem;
}
@media (max-width: 2500px){
    .card-padding{
        padding-left: 15rem;
        padding-right: 15rem;
    }
}
@media (max-width: 2200px){
    .card-padding{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media (max-width: 1900px){
    .card-padding{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
@media (max-width: 1000px){
    .col-2{
        visibility: hidden
    }
    .logo{
        max-width: 500px;
    }
}
@media (max-width: 500px){
    .col-2{
        visibility: hidden
    }
    .logo{
        max-width: 300px;
    }
}